.create-comment-modal {
    margin-top: 20px;
}

.action-bttns-comments {
    margin-left: 50px;
    display: flex;
}

.action-btt-comment{
    margin-left: 20px;
}

.submit-bttn.delete {
    background-color: red;
}

.comment-div {
    display: flex;
    border: 4px solid #010101c9;
    justify-content: space-around;
    align-items: center;
    /* flex-flow: row; */
    padding: 10px 40px;
    margin: 10px 10px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #010101c9 ;
    background-color: #010101c9;
    color: white;
}
.profile-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 100px;
    font-size: 20px;
}

.profile-logo i {
    font-size: 30px;
    margin-right: 20px;
}

#comment-content {
    display: flex;
    justify-content: flex-end;
}

.comments-outer-div {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 1000px;
    max-height: 900px;
    overflow-y: auto;
    overflow-wrap: inherit;
    background-image: url("https://www.wallpaperbetter.com/wallpaper/753/195/742/anime-branch-environment-river-bridge-720P-wallpaper.jpg");
}

.image-comment-outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.one-comment-div {
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#label-textarea-comment {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

#label-textarea-comment textarea {
    width: 400px;
    height: 50px;
    resize: none;
}
