/* TODO Add site wide styles */
/* @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;1,200&family=Nosifer&display=swap');
<style> */

/* @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;1,200&family=Bangers&family=Nosifer&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Otomanopee+One&display=swap');

body {
  background-color: #949494;
  margin: 0;
}

* {
  /* font-family: 'Archivo', sans-serif; */
  /* font-family: 'Bangers', cursive; */
  font-family: 'Otomanopee One', sans-serif;
}

.form-div {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-div label {
  margin-bottom: 10px;
  /* margin-left: ; */
}

.form-div input {
  margin-left: 20px;
}

.errors-ul {
  color: red;
}

#buttons-form-update {
  display: flex;
  justify-content: center;
  align-items: center;
}
