form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    padding: 20px;
}

input[type="file"] {
    display: none;
}

#image-pic {
    max-width: 400px;
    height: auto;
}
