/* image detail in component */
.image-detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.image-title {
    font-size: 30px;
    color: white;
}

.image-container {
    background-color: #6200EE;
    margin: 20px 20px;
    padding: 10px 10px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.individual-images {
    min-width: 500px;
    max-height: 500px;
    max-width: 800px;
    max-height: 800px;
    padding-bottom: 40px;
    /* height: 100%;
    width: 100%; */
}
/* all images in home page */
.all-images-container {
    justify-content: center;
    width: 90%;
    /* border: solid 1px black; */
    /* line-height: 0; */
    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           0px;
}

.all-images-container img:hover {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}



.images-all-main {
    max-width:300px;
    max-height: 300px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;

    width: 100% !important;
    height: auto !important;
}

main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button-row {
    display: flex;
    margin-bottom: 10px;
}

.bttn-in-row {
    margin-left: 20px;
}
