#nav-div {
    background-color: #6200EE;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    position: sticky;
    z-index: 10;
}


#nav-div-createBttn, #nav-div-profileBttn {
    display: inline-flex;
    justify-content: flex-end;
    margin-left: 10px;
}

.profile-dropdown {
    position: fixed;
    background-color: #6200EE;
    margin-top: 40px;
    border-radius: 5px;
    list-style-type: none;
    padding: 20px 30px;
    margin-right: -16px;
}

.span-profile-drop-down {
    padding-right: 5px;
    font-weight: bold;
}

.profile-dropdown > li {
    padding: 10px;
}

.profile-dropdown {
    color: white;
}

#animage-logo {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

.nav-div-create-profile-bttn a {
    margin-left: 10px;
}

/* .nav-div-create-profile-bttn button {
    margin-left: 10px;
} */

.fa-user-circle {
    font-size: 15px;
    /* padding: 0px 0px; */
}
