/* fix this styling */
form {
    display: inline-block;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 350px; */
    padding: 20px;

}

#modal-content {
    border-radius: 15px;
    overflow: auto;
}

.submit-bttn {
    background-color: #3700B3;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    user-select: none;
    letter-spacing: 1px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.form-form button {
    width: 150px;
}

#buttons-form button {
    margin-left: 10px;
}
